body {
    background-color: white;
    font-family: "Zen Maru Gothic", serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

main {
    width: 95%;
}

.logo {
    display: flex;
    justify-content: left;
    margin: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container__equipe {
    max-width: 95%;
    width: 95%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    margin-bottom: 50px;
}

.container__titulo {
    text-align: center;
    font-size: 55px;
    font-weight: 400;
    line-height: 92.67px;
    letter-spacing: 3px;
    color: #1A364A;
}

.container__button {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 200px;
}

.container__button img {
    width: 200px;
}

.container__button button {
    border: none;
    background-color: white;
    cursor: pointer;
}

.container__button button:hover {
    color: #1A364A;
}

.container__button button h3 {
    font-size: 35px;
    font-weight: 400;
    line-height: 69.5px;
    letter-spacing: 5px;
}

.equipe {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    width: auto;
}

.equipe-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: auto;
}

.perfil {
    margin-left: 46px;
    margin-right: 20px;
}

.container__perfil {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 10%;
}

.perfil__imagem {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.perfil__infos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.infos__nome {
    font-size: 30px;
    font-weight: 400;
    line-height: 69.5px;
    letter-spacing: 5px;
    text-decoration: none;
    color: #000000;
}

.perfil__infos a img {
    width: 30px;
    height: 30px;
}

.container__perfil p {
    width: 350px;
    line-height: 20px;
    text-align: center;
    padding-left: 10px;
}

@media (min-width: 320px) and (max-width: 480px) {
    .logo {
        justify-content: center;
    }

    .logo img {
        max-width: 100%;
    }

    .container__titulo {
        font-size: 35px;
        line-height: 50px;
    }
}
