.modal-overlay {
  position: fixed;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

 .modal-overlay .modal-content {
  position: relative;
  background-color: var(--light-blue);
  border-radius: 0.25rem;
  width: 340px;
  height: 240px;
  margin-bottom: 14rem;
}

@media (min-width: 725px) {
  .modal-overlay {
    top: 5rem;
    right: 0;
    justify-content: center;

    /* background: rgba(0, 0, 0, 0.4); */
  }

  .modal-overlay .modal-content{
    width: 400px;
    height: 280px;
  }
}