.modal-overlay {
  position: fixed;
  top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}

 .modal-overlay .modal-content {
  position: relative;
  background-color: var(--light-blue);
  border-radius: 0.25rem;
  width: 340px;
  height: 240px;
  margin-bottom: 14rem;
}

@media (min-width: 725px) {
  .modal-overlay .modal-content{
    width: 300px;
    height: 250px;
  }
}