.mobile_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 4rem;
    justify-content: space-between;
    padding: 0.5rem;
  }
  
  .mobile_header_absolute {
    position: absolute;
    bottom: 0;
    height: 3.5rem;
  }

  
@media (min-width: 725px) {
  .mobile_header, .mobile_header_absolute {
    display: none;
  }
}