.user_container {
    width: 4.7rem;
    height: 4.7rem;
    padding: 0.5rem;
}

.user_circle_animated {
    border-radius: 50%;
}

.user_photo {
    -o-object-fit: contain;
    object-fit: contain;
}

.modal_user {
    position: relative;
    background-color: #e4e4e4;
    border-radius: 0.25rem;
    width: 120px;
    height: 200px;
    top: 0.5rem;
    right: 3rem;
    z-index: 2;
}

.modal_user_lista {
    font-size: 1.2rem;
    display: grid;
    grid-column: 1fr;
    justify-content: center;
    padding: 0.5em;
    font-family: var(--fonte);
}

.modal_user_lista span {    
    cursor: pointer;

}

.close {
    position: absolute;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
}

@media (min-width: 725px) {
    .user_container {
        width: 4.7rem;
        height: 4.7rem;
    }
}