.modal-overlay {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-overlay .modal-content {
  position: relative;
  background-color: var(--fundo-modal);
  padding: 1.25rem;
  border-radius: 0.25rem;
  max-width: 500px;
}
.modal-overlay .modal-content .close {
  position: absolute;
  top: 0.5rem;
  right: 1rem;
  cursor: pointer;
  font-size: 1.5rem;
}