.tarefa_container {
    display: flex;
    justify-content: space-between;
    width: 90%;
    height: 80px;
    font-family: var(--fonte);
    border: 3px solid var(--dark-blue);
    border-radius: 0.625rem;
    padding-left: 1.75rem;
}

.checkbox_container{
    font-size: 2.25rem;
    font-weight: bold;
    color: var(--light-blue);
    display: flex;
    text-align: center;
    justify-content: center;
    border: none;
}

.tarefa_categoria {
    color: var(--dark-blue);
    font-size: 2rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
