.pet_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    height: auto;
    gap: 2rem;
}

.pet_container img {
    max-width: 90%;
    height: 85%;
}


