.desktop_header {
    display: none;
}

@media (min-width: 725px) {
    .desktop_header {
        position: relative;
        width: 100vw;
        height: 4rem;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0 2rem;
    }

    .desktop_header_divEnd {
        display: flex;
        flex-direction: row;
        justify-content: end;
        align-items: center;
    }
}