@use '../../Styles/globalVariable'

/*---- Inicio estilizaçào do input_checkbox ----*/
.checkbox_container
    display: flex
    position: relative
    align-items: center
    gap: 0.5rem

.input_checkbox
    display: flex
    width: 30px
    height: 30px
    border-radius: 10px
    font-family: globalVariable.$font-family-main
    font-weight: 700
    color: globalVariable.$dark-blue
    background: globalVariable.$bg-modal

.label
    display: flex
    align-items: center
/*---- Fim estilizaçào do input_checkbox ----*/
