:root {
    --bg-color-dark: rgba(11, 53, 83, 1);
    --light-color: rgba(232, 252, 255, 1);
    --destaque-bright: rgba(243, 113, 45, 1);
    --destaque-blue: rgba(47, 174, 191, 1);
    --titulo: rgba(190, 247, 255, 1);

}

.cadastro__header {
    width: 100%;
    background-color: var(--light-color);
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 5vw;
}

.cadastro__header--logo {
    height: 5vh;
}

.cadastro__main {
    background-color: var(--bg-color-dark);
    width: 100%;
    display: flex;
}

.cadastro__main--img {
    width: 80%;
}

.cadastro__main--form {
    width: 20%;
}

