@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root {
    --bg-color-dark: rgba(26, 54, 74, 1);
    --light-color: rgba(232, 252, 255, 1);
    --destaque-bright: rgba(243, 113, 45, 1);
    --destaque-blue: rgba(47, 174, 191, 1);
    --titulo: rgba(190, 247, 255, 1);
    --form-border-color: rgba(50, 98, 134, 1);
    --form-bg: rgba(39, 75, 100, 1);
    --font: "Zen Maru Gothic", serif;
}

* {
    font-family: var(--font);
    font-weight: 700;
}

/* HEADER */
.cadastro__header {
    background-color: var(--light-color);
    height: 10vh;
    display: flex;
    align-items: center;
    padding-left: 126px;
}

.cadastro__header--logo {
    height: 5vh;
}

/* IMAGEM MAIN */
.cadastro__main {
    background-color: var(--bg-color-dark);
}

.cadastro__main--container {
    display: flex;
    align-items: center;
    height: 90vh;
}

.cadastro__main--div{
    width: 50%;
    display: flex;
    justify-content: center;
}
.cadastro__main--img {
    width: 80%;
}

/* FORMULARIO */
.cadastro__formulario {
    width: 50%; 
}

.cadastro__form--titulo {
    text-align: center;
    color: var(--titulo);
    font-size: 3em;
    padding: 15px 0;
}

.cadastro__form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
}

.cadastro__form--input {
    background-color: var(--form-bg);
    margin: 2vh 0;
    border: 3px solid var(--form-border-color);
    height: 65px;
    border-radius: 10px;
    font-family: inherit;
    color: var(--font);
    font-size: 2.25em;
    padding-left: 15px;
}

.cadastro__form--input:focus{
    outline: none;
    border: 3px solid var(--destaque-bright);
    color: var(--font);
}

.cadastro__form--input::-webkit-input-placeholder {
    color: var(--titulo);
    float: left;
}

.cadastro__form--link-group {
    display: flex;
    justify-content: space-between;
    font-size: 2em;
    margin: 2vh 0;
}

.cadastro__form--label {
    color: var(--destaque-blue);
    position: relative;
    cursor: pointer;
}

.cadastro__form--field {
    border: none;
}

.cadastro__form--link {
    text-decoration: none;
    color: var(--destaque-bright);
}

.cadastro__form--btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 74px;
    border: none;
    border-radius: 10px;
    background-color: var(--destaque-blue);
    font-size: 3em;
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    margin: 15px 0;
}

.cadastro__form--btn:hover {
    background-color: var(--bg-color-dark);
    border: 3px solid var(--destaque-blue);
    transition: all 0.2s;
}
