@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root{
  --fonte: "Zen Maru Gothic", serif;
  --bg-color: #1A364A;
    --text-color: #FFFFFF;
    --header-bg: #2FAEBF;
    --details: #BEF7FF;
    --fundo-modal: #0B3553;
    --fundo-input-form: #FBFEF7;
    --button-bg: #2FAEBF;
    --button-hover: #BEF7FF;
    --destaque: #F3712D;
    --fundo-modal-dias:#081B29;
    --azul-saturado: #0087E8;
    --roxo-destaque: #8C54E6;
    --tag-clara: #ffffff;
}

* {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: var(--fonte);
}
.dark_mode {
  background-color: var(--bg-color-dark);
}

.light_mode {
  background-color: var(--bg-color-light);
}
