@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic:wght@300;400;500;700;900&display=swap');

:root{
  --bg-color-light: #FBFEF7;
  --dark-blue: #2FAEBF;
  --light-blue: #BEF7FF;
  --bg-color-dark: #1A364A;
  --light-blue-bg: #E8FCFF;
  --destaque: #F3712D;
  --texto-escuro: #5A6771;
  --texto-claro: #FFFFFF;
  --fundo-modal: #0B3553;
  --fundo-input-form: #274B64;
  --azul-saturado: #0087E8;
  --roxo-destaque: #8C54E6;
  --fundo-modal-dias: #081B29;
  --fonte: "Zen Maru Gothic", serif;
}

* {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  font-family: var(--fonte);
}
.dark_mode {
  background-color: var(--bg-color-dark);
}

.light_mode {
  background-color: var(--bg-color-light);
}
