@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

.site {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.site_cabecalho {
    height: 4rem;
    padding: 0.5rem;
}

.cabecalho_logo {
    margin-left: 30px;
}

.site_principal {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

}

.principal_imagem {
    width: 100%;
}

.principal_imagem_capivara {
   width: 100%;
   height: 100%;

}

.principal_texto {
    color: #4a545d;
    font-family: "Zen Maru Gothic", serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal_texto_paragrafo {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.3;
    text-align: left;
}

.principal_buttons {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
}

.button_cadastrar, .button_entrar{
    background-color: #BEF7FF;
    color: #1d96a6;
    font-size: 28px;
    border: none;
    padding: 5px;
    font-weight: 700;
    border-radius: 8px;
    width: 10rem;
    height: 3rem;
    cursor: pointer;
}

.button_cadastrar {
    width: 16rem;
}



@media screen and (min-width: 725px) {

    .site_principal {
        flex-direction: row;
    }

    .principal_buttons {
        flex-direction: row;
    }

    .principal_imagem {
        width: 50%;
        min-width: 50%;
    }

    .principal_imagem_capivara {
        min-width: 100%;
    }

    .principal_texto {
        width: 50%;
    }

    .principal_texto_paragrafo {
        width: 80%;
    }

    .principal_buttons {
        width: 80%;
    }

}

@media screen and (min-width: 600px) {

    .principal_buttons {
        width: 100%;
    }
}