.icones {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 0.5vw;

    img {
        height: 45%;
        cursor: pointer;
    }
}


@media (min-width: 725px) {
    .icones {
        justify-content: end;
        width: 50%;

        img {
            width: 3rem;
            height: 40%;
        }
    }
}