body {
    background-color:  var(--bg-color-dark);
    background-color:  var(--bg-color-dark);
}

section {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 4em 0;
    height: auto;
    justify-content: space-around;
}

.Container {
    width: 40vw;
    /* border: 3px solid red; */
    height: 80vh;
}

.Container--img {
    width: 30%;
    height: 65%;
    margin-left: 12em;
}