body {
    background-color:  var(--bg-color-dark);
}

/* section ocupando mais q 100% da altura (???) */
/* card tarefas não acompanha altura no desktop */

section {
    border: 2px solid red;

    display: flex;
    flex-direction: column;
    width: 100%;
}

@media (min-width: 725px) {
    section {
        flex-direction: row;
    }
}