.logo {
    height: 4rem;
    width: 13rem;
    padding: 0.5rem;
    -o-object-fit: contain;
       object-fit: contain;
}

@media screen and (max-width: 768px) {
    .logo{
        width: 40%;
    }
}